body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #17072b;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

main {
    display: flex;
    padding: 20px;
}

.welcome {
    flex: 2;
    margin-right: 20px;
}

.line-up {
    flex: 1;
    background-color: #172d67;
    color: white;
    padding: 20px;
}

footer {
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}