:root {
    --main-black: #1a1a1a;
    --main-white: #f4f4f4;
    --accent-red: #ff3333;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    line-height: 1.6;
    background-color: var(--main-black);
    color: var(--main-white);
}
